.categoryTitle {
    background-color: azure;
    top: 0;
    margin: 0;
    padding: 10px;
    border-bottom: 1px ridge gray;
}

.bigCategoriesDiv {
    width: 700px;
    /* border: 1px solid black; */
    min-height: 500px;
    margin: auto;
    margin-right: 80px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: black; */

}