.mainDiv {
    display: flex;
    justify-content: space-between;

}
.mainCategory{
    text-align: center;
width: 1100px;
min-height: 500px;
border:1px solid black;
margin: 20px;
background-color: rgb(230, 255, 255);

}